*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png);
    background-size: cover;
    color: white;
}

#logo{
    margin-top: 40px;
}

.box{
    height: 280px;
    /* width: 400px; */
    /* border: 2px solid white; */
    display: inline-block;
    margin: 100px 50px;
    padding: 0px 15px;
    padding-top: 30px;
    border-radius: 20px;
    
}

.ball{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 50px;
    margin: 30px 5px;
}

span{
    font-size: 30px;
}

#team1{
    background-color: #005fa2;
}

#team2{
    background-color: #1fa83d;
}

h1{
    font-size: 50px;
}

.playButtons{
    width: 100px;
    margin: 0 20px;
}